<div class="col col-md-6 mx-auto mt-5">
    <div class="card {% if not blog_post.publish_date %} bg-secondary text-light{% endif %}">
        <div class="card-body">
            <h5 class="card-title">{{blog_post.title}}</h5>
            <p class="card-text">
                {% if truncate %}
                {{blog_post.content|linebreaks|truncatewords:30}}
                {% else %}
                {{blog_post.content|linebreaks}}
                {% endif %}
            </p>
            {% if not detail %}

            <a href="{{ blog_post.get_absolute_url }}" class="btn btn-primary">Show
                more</a>{% endif %}
        </div>
    </div>
</div>